.hashtagsInput {
    display: flex;

    width: 60%;

    position: relative;

    input {
        width: 100%;
        height: 45px;

        padding-left: 05%;

        font-size: 1.75rem;

        background: var(--light-black);
        color: var(--extra-extra-light-gray);

        border: none;
        border-radius: 40px;
    }

    .addButton {
        top: 09px;
        right: 10px;

        color: var(--extra-light-gray);
        cursor: pointer;

        position: absolute;
    }
}
