.hashtags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    margin-top: 25px;

    padding-left: 05px;

    color: var(--extra-light-gray);

    .hashtag {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 6px 10px 6px 12px;

        background: var(--extra-light-black);

        font-size: 1.5rem;

        border-radius: 25px;

        h3 {
            font-weight: 300;
        }

        .deleteButton {
            margin-left: 04px;
            cursor: pointer;
        }
    }
}
