.container {
    margin-top: 30px;

    width: 80%;

    padding-left: 15px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 5px 7.5px 5px;
        width: 100%;

        color: var(--extra-light-gray);
        border-bottom: 0.5px solid var(--dark-gray);

        p {
            font-size: 1.75rem;
        }

        .refreshButton {
            cursor: pointer;
        }
    }

    .tweets {
        .tweet {
            font-size: 1.6rem;
            font-weight: 300;

            .heading {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                div {
                    display: flex;
                    align-items: center;

                    p {
                        display: inline-flex;
                        align-items: center;

                        margin-left: 6px;

                        color: var(--light-gray);
                    }
                }
            }

            .message {
                margin-top: 5px;
            }
        }
    }
}
