.container {
    margin-top: 30px;

    width: 80%;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 0 5px 7.5px 5px;
        width: 100%;

        color: var(--extra-light-gray);
        border-bottom: 0.5px solid var(--dark-gray);

        p {
            font-size: 1.75rem;
        }

        .refreshButton {
            cursor: pointer;
        }
    }

    // .tweets {}
}
